<link rel="stylesheet" href="/CSS/user_profile.css">

<h1><%= title %>
</h1>


    <h1>Name : <%= user_data.name %>
    </h1>

    <h1>Email : <%= user_data.email %>
    </h1>

    <button><a href="/users/sign-out">Sign Out</a></button>


<script src="/JS/user_profile.js"></script>