<link rel="stylesheet" href="/CSS/user_profile.css">

<h1><%= title %></h1>


<h1>Name : <%= profile_user.name %>
</h1>

<h1>Email : <%= profile_user.email %>
</h1>

<button><a href="/users/sign-out">Sign Out</a></button>


<script src="/JS/user_profile.js"></script>