header{
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    font-family: sans-serif;
    background-color: burlywood;
    line-height: 5rem;
}

.top-right{

    display: flex;
    justify-content: space-between;
    width: 20%;

    a{
        text-decoration: none;
        color: black;
    }
}